
body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: #39FF14;
  background: url("1.png") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}


.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}

.card {
  background: rgba(0, 0, 0, 0.75);
  border: 2px solid #004D29;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  font-size: 0.95rem;
  color: #E5E5E5;
}

.card .price {
  color: #A020F0;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

header {
  color: #00F8A1;
  padding: 100px;
  text-align: center;

}